
.DS_Store
logs/
.idea/
.vscode/
vendor/
testtools/db/data/
testtools/logs/
encryptedInfo.txt
key.priv

client
grpc-client
keymanager
*/db/data/*
*/*/db/data/*
db/
go1.16.15.linux-arm64.tar.gz
keymanager-linux-arm64
keymanager-linux-amd64
